apiVersion: apps/v1
kind: Deployment
metadata:
  name: inflate-argocd-public
  namespace: default
spec:
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: inflate-argocd-public-repo
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: inflate-argocd-public-repo
    spec:
      containers:
      - image: public.ecr.aws/eks-distro/kubernetes/pause:3.7
        imagePullPolicy: IfNotPresent
        name: inflate-argocd-public-repo
        resources:
          requests:
            cpu: "1"
        securityContext:
          allowPrivilegeEscalation: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      nodeSelector:
        karpenter.sh/nodepool: default
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 2000
        runAsGroup: 3000
        runAsUser: 1000
      terminationGracePeriodSeconds: 0
